<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Employees</title>
</head>
<body>
<h1>Delete  Employees</h1>
<form th:action="@{/delete-employees}" method="post" th:object="${employees}">
    <table border="1">
        <span>ARE YOU SURE?</span>
        <br>
        <input type="hidden" th:field="*{id}">
        <tr>
            <td>Name</td>
            <td>
                <input type="text"th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td>EMAIL</td>
            <td>
                <input type="text" th:field="*{email}">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" th:field="*{address}">
            </td>
        </tr>
        <tr>
            <td>Offices</td>
            <td>
                <input type="text" th:field="*{office.name}">
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete Employees"></td>
        </tr>
    </table>
</form>
</body>
</html>