<!DOCTYPE html>
<html lang="vi" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Office</title>
</head>
<body>
<h1>Edi Office</h1>
<a href="/office"></a>
<form th:action="@{/edit-office}" method="post" th:object="${office}">
    <table border="1">
        <tr>
            <td><input type="hidden" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>NAME</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Edit Office"></td>
        </tr>

    </table>
</form>
</body>
</html>